In [1]:
adult_data_path = "/home/haianh/grad_project/ml-learning/data/adulttrain.data"
test_data_path = "/home/haianh/grad_project/ml-learning/data/adulttest.data"
from pyarc import CBA, TransactionDB
import pandas as pd
from sklearn.model_selection import train_test_split

data_train,data_test= train_test_split(pd.read_csv('/home/haianh/grad_project/ml-learning/data/adult.data'),test_size=0.33)


txns_train = TransactionDB.from_DataFrame(data_train)
txns_test = TransactionDB.from_DataFrame(data_test)


cba = CBA(support=0.01, confidence=0.5, algorithm="m1")
cba.fit(txns_train)



accuracy = cba.rule_model_accuracy(txns_test) 
accuracy

0.8121169496634181

| accuracy | time   | support |
| 79.41%   | 10.8s  |  10%    |
| 79.46%   | 25.7s  | 5%      |
| 80.45%   | 59.9s  |  3%     |
|   81 %   | 1m40s  | 2%      |
|   82.1%  |  4m5s  |    1%   |
| 83.65%   | 8m37s  |  0.5%   |

Bench Mark of 4 datasets

In [3]:
from sklearn.model_selection import train_test_split
import pandas as pd

# data_train,data_test= train_test_split(pd.read_csv('/home/haianh/grad_project/ml-learning/data/adult.data'),test_size=0.33)

In [1]:
from pyarc import CBA, TransactionDB

In [1]:
nursery_data_path = "/home/haianh/grad_project/ml-learning/data/nursery.data"
letter_data_path = "/home/haianh/grad_project/ml-learning/data/letter-recognition.data"

In [15]:
data_train, data_test = train_test_split(pd.read_csv(nursery_data_path),test_size=0.33)

In [5]:
supports = [0.1, 0.05, 0.03, 0.02, 0.01, 0.005]

[0.1, 0.05, 0.03, 0.02, 0.01, 0.005]

In [16]:
from time import perf_counter

execution_time = []
accuracy_list = []

for sup in supports:
    start = perf_counter()

    txns_train = TransactionDB.from_DataFrame(data_train)
    txns_test = TransactionDB.from_DataFrame(data_test)
    cba = CBA(support=sup, confidence=0.5, algorithm="m1")
    cba.fit(txns_train)
    
    accuracy = cba.rule_model_accuracy(txns_test) 
    end = perf_counter()
    execution_time.append(end-start)
    accuracy_list.append(accuracy)

In [19]:
accuracy_list

[0.740472293663783,
 0.8092120645312134,
 0.8887070376432079,
 0.9025017535655834,
 0.9240121580547113,
 0.9436520925882628]

In [20]:
execution_time

[0.7609913989999768,
 0.9274932549997175,
 3.012482170000112,
 2.5312642349999805,
 5.299063123999986,
 8.444407408000188]

In [ ]:
"""Adult dataset"""

"""
0.1    79.6%    11,1s   
0.05    80%     32.3s

"""

In [4]:
data_train, data_test = train_test_split(pd.read_csv(letter_data_path),test_size=0.25)
txns_train = TransactionDB.from_DataFrame(data_train)
txns_test = TransactionDB.from_DataFrame(data_test)
# cba = CBA(support=0.1, confidence=0.5, algorithm="m2")
# cba.fit(txns_train)

# accuracy = cba.rule_model_accuracy(txns_test) 

# accuracy

data_train

,class,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx
4847,Q,4,6,5,7,5,8,5,7,3,6,5,9,3,8,5,9
2698,M,5,10,6,5,3,10,2,1,3,9,3,9,5,4,1,9
14920,H,4,11,5,9,5,7,7,13,1,7,6,8,3,8,0,8
2489,I,1,9,2,6,2,7,7,0,6,7,6,8,0,8,2,8
16845,Q,1,2,2,3,1,8,8,5,1,5,7,9,2,9,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2979,P,7,14,7,8,5,8,9,4,4,12,5,4,4,11,6,6
14987,X,3,3,5,2,2,7,8,1,8,10,7,8,2,8,3,7
15803,Q,3,7,4,5,2,8,7,8,6,6,8,9,3,7,5,10
18317,C,2,4,3,3,1,4,9,5,7,11,9,12,1,9,2,7
11532,J,6,9,5,7,3,8,9,2,3,13,4,5,2,9,7,8

In [7]:
letter_data_frame = pd.read_csv(letter_data_path)

letter_data_frame.head(5)

,class,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10

In [8]:
class_col = letter_data_frame.pop('class')

letter_data_frame.insert(len(letter_data_frame.columns), 'class', class_col)

letter_data_frame

,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx,class
0,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8,T
1,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10,I
2,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9,D
3,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8,N
4,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2,2,3,3,2,7,7,7,6,6,6,4,2,8,3,7,D
19996,7,10,8,8,4,4,8,6,9,12,9,13,2,9,3,7,C
19997,6,9,6,7,5,6,11,3,7,11,9,5,2,12,2,4,T
19998,2,3,4,2,1,8,7,2,6,10,6,8,1,9,5,8,S
19999,4,9,6,6,2,9,5,3,1,8,1,8,2,7,2,8,A

In [20]:
data_train, data_test = train_test_split(letter_data_frame, shuffle=True, test_size=0.2)
txns_train = TransactionDB.from_DataFrame(data_train)
txns_test = TransactionDB.from_DataFrame(data_test)
cba = CBA(support=0.01, confidence=0.5, algorithm="m1")
cba.fit(txns_train)

accuracy = cba.rule_model_accuracy(txns_test) 

accuracy

0.23325

In [17]:
pen_digits_train_path = "/home/haianh/grad_project/ml-learning/data/pendigits.tra"
pen_digits_test_path = "/home/haianh/grad_project/ml-learning/data/pendigits.tes"

train_data_frame = pd.read_csv(pen_digits_train_path)
test_data_frame = pd.read_csv(pen_digits_test_path)

train_tdb = TransactionDB.from_DataFrame(train_data_frame)
test_tdb = TransactionDB.from_DataFrame(test_data_frame)

cba = CBA(support=0.01)
cba.fit(train_tdb)

In [19]:
accuracy = cba.rule_model_accuracy(test_tdb)

accuracy

0.10380325993708893

In [3]:
# test acc on discretized pendata
pen_train = "/home/haianh/grad_project/ml-learning/data/pen.tra"
pen_test = "/home/haianh/grad_project/ml-learning/data/pen.test"

import pandas as pd

pen_train_data = pd.read_csv(pen_train)
pen_test_data = pd.read_csv(pen_test)

txns_train = TransactionDB.from_DataFrame(pen_train_data)
txns_test = TransactionDB.from_DataFrame(pen_test_data)

In [10]:
cba = CBA(0.005, )
cba.fit(txns_train)

In [11]:
cba.rule_model_accuracy(txns_test)

0.12267657992565056

In [41]:
import pandas as pd
data_path = "/home/haianh/grad_project/ml-learning/data/adult_all.data"
mushroom = "/home/haianh/grad_project/ml-learning/data/agaricus-lepiota.data"
df = pd.read_csv(mushroom, header=None, na_values=[' ?', '?'])

In [42]:
df.head(1)

  0  1  2  3  4  5  6  7  8  9   ... 13 14 15 16 17 18 19 20 21 22
0  x  s  n  t  p  f  c  n  k  e  ...  w  w  p  w  o  p  k  s  u  p

[1 rows x 23 columns]

In [43]:
df = df.dropna()

In [44]:
df.shape

(5644, 23)

In [45]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(df, shuffle=True, stratify=df[22], test_size=0.25)

In [46]:
test.to_csv('/home/haianh/grad_project/ml-learning/benchmark-dataset/mushroom_processed_test.data', header=None, index=None, index_label=None)

In [29]:
l = df.values.tolist()

In [30]:
nd = []
for li in l:
    tmp = [str(i).strip() for i in li]
    nd.append(tmp)

In [31]:
ndf = pd.DataFrame(nd)

In [32]:
ndf[14] = ndf[14].str.replace('<=50K.', '<=50K')

In [33]:
ndf[14] = ndf[14].str.replace('>50K.', '>50K')

In [35]:
ndfp = "/home/haianh/grad_project/ml-learning/data/adult_all_cleaned.data"

In [36]:
ndf.to_csv(ndfp, header=None, index_label=None, index=None)

In [28]:
from sklearn.model_selection import train_test_split
import pandas as pd
from pyarc import TransactionDB,CBA

adult_new_dp = "/home/haianh/grad_project/ml-learning/data/py_arc_dresses.data"

adult_data_frame = pd.read_csv(adult_new_dp)

data_train, data_test = train_test_split(adult_data_frame, shuffle=True, test_size=0.2)
txns_train = TransactionDB.from_DataFrame(adult_data_frame)
txns_test = TransactionDB.from_DataFrame(data_test)
cba = CBA(support=0.05, confidence=0.5, algorithm="m1")
cba.fit(txns_train)

print(cba.clf.default_class)
print(cba.clf.default_rule)
print(len(cba.clf.rules))
accuracy = cba.rule_model_accuracy(txns_test) 

accuracy

1
CAR {} => {class=1} sup: 0.42 conf: 0.42 len: 1, id: 137667
25

0.64

In [30]:

for rule in cba.clf.rules:
    print(rule)

CAR {SleeveLength=short,Season=Summer} => {class=0} sup: 0.06 conf: 0.82 len: 3, id: 137464
CAR {waiseline=natural,Price=Average,SleeveLength=short} => {class=0} sup: 0.05 conf: 0.82 len: 4, id: 137469
CAR {NeckLine=o-neck,Price=Average,Material=polyster} => {class=0} sup: 0.06 conf: 0.79 len: 4, id: 137487
CAR {Price=Average,Material=polyster} => {class=0} sup: 0.10 conf: 0.77 len: 3, id: 137489
CAR {waiseline=natural,SleeveLength=short} => {class=0} sup: 0.09 conf: 0.77 len: 3, id: 137473
CAR {NeckLine=o-neck,Price=Average,SleeveLength=short} => {class=0} sup: 0.05 conf: 0.76 len: 4, id: 137468
CAR {Pattern Type=solid,SleeveLength=short} => {class=0} sup: 0.06 conf: 0.76 len: 3, id: 137466
CAR {Style=Casual,Price=Average,Season=Summer} => {class=0} sup: 0.06 conf: 0.76 len: 4, id: 137579
CAR {NeckLine=o-neck,Price=Average,Season=Summer} => {class=0} sup: 0.06 conf: 0.76 len: 4, id: 137583
CAR {Style=Casual,SleeveLength=short} => {class=0} sup: 0.07 conf: 0.75 len: 3, id: 137467
CAR {SleeveLength=sleevless,Style=Casual,Season=Summer} => {class=0} sup: 0.05 conf: 0.75 len: 4, id: 137576
CAR {Season=Winter,waiseline=natural,Price=Average} => {class=0} sup: 0.05 conf: 0.74 len: 4, id: 137478
CAR {NeckLine=o-neck,Price=Average,Size=free} => {class=0} sup: 0.05 conf: 0.74 len: 4, id: 137599
CAR {SleeveLength=sleevless,Material=polyster} => {class=0} sup: 0.07 conf: 0.74 len: 3, id: 137485
CAR {Pattern Type=solid,Material=polyster} => {class=0} sup: 0.06 conf: 0.74 len: 3, id: 137484
CAR {SleeveLength=sleevless,FabricType=chiffon,Price=Average} => {class=0} sup: 0.05 conf: 0.74 len: 4, id: 137539
CAR {Season=Winter,Price=Average} => {class=0} sup: 0.07 conf: 0.73 len: 3, id: 137479
CAR {Price=Average,SleeveLength=short} => {class=0} sup: 0.08 conf: 0.73 len: 3, id: 137470
CAR {NeckLine=o-neck,waiseline=natural,Size=L} => {class=0} sup: 0.06 conf: 0.73 len: 4, id: 137459
CAR {Price=Average,Season=Automn} => {class=0} sup: 0.05 conf: 0.73 len: 3, id: 137432
CAR {Style=Casual,NeckLine=o-neck,Season=Summer} => {class=0} sup: 0.07 conf: 0.72 len: 4, id: 137580
CAR {waiseline=natural,Price=Average,Season=Summer} => {class=0} sup: 0.07 conf: 0.72 len: 4, id: 137584
CAR {waiseline=natural,Pattern Type=solid,Season=Summer} => {class=0} sup: 0.06 conf: 0.72 len: 4, id: 137574
CAR {Style=Casual,NeckLine=o-neck,Price=Average} => {class=0} sup: 0.10 conf: 0.72 len: 4, id: 137652
CAR {NeckLine=o-neck,Size=L} => {class=0} sup: 0.08 conf: 0.72 len: 3, id: 137460

In [10]:
a = []

def recurse_append(thresh: int, l: list = []):
    if thresh > 5:
        return l
    l.append(1)
    return recurse_append(thresh+1, l)

In [11]:
rs = recurse_append(1, [])