In [30]:
adult_data_path = "/home/haianh/grad_project/ml-learning/data/adulttrain.data"
test_data_path = "/home/haianh/grad_project/ml-learning/data/adulttest.data"
from pyarc import CBA, TransactionDB
import pandas as pd
from sklearn.model_selection import train_test_split

data_train,data_test= train_test_split(pd.read_csv('/home/haianh/grad_project/ml-learning/data/adult.data'),test_size=0.33)


txns_train = TransactionDB.from_DataFrame(data_train)
txns_test = TransactionDB.from_DataFrame(data_test)


cba = CBA(support=0.005, confidence=0.5, algorithm="m1")
cba.fit(txns_train)



accuracy = cba.rule_model_accuracy(txns_test) 
accuracy

0.8365903592034245

| accuracy | time   | support |
| 79.41%   | 10.8s  |  10%    |
| 79.46%   | 25.7s  | 5%      |
| 80.45%   | 59.9s  |  3%     |
|   81 %   | 1m40s  | 2%      |
|   82.1%  |  4m5s  |    1%   |
| 83.65%   | 8m37s  |  0.5%   |

Bench Mark of 4 datasets

In [3]:
from sklearn.model_selection import train_test_split
import pandas as pd

# data_train,data_test= train_test_split(pd.read_csv('/home/haianh/grad_project/ml-learning/data/adult.data'),test_size=0.33)

In [1]:
from pyarc import CBA, TransactionDB

In [1]:
nursery_data_path = "/home/haianh/grad_project/ml-learning/data/nursery.data"
letter_data_path = "/home/haianh/grad_project/ml-learning/data/letter-recognition.data"

In [15]:
data_train, data_test = train_test_split(pd.read_csv(nursery_data_path),test_size=0.33)

In [7]:
supports = [0.1, 0.05, 0.03, 0.02, 0.01, 0.005]

In [16]:
from time import perf_counter

execution_time = []
accuracy_list = []

for sup in supports:
    start = perf_counter()

    txns_train = TransactionDB.from_DataFrame(data_train)
    txns_test = TransactionDB.from_DataFrame(data_test)
    cba = CBA(support=sup, confidence=0.5, algorithm="m1")
    cba.fit(txns_train)
    
    accuracy = cba.rule_model_accuracy(txns_test) 
    end = perf_counter()
    execution_time.append(end-start)
    accuracy_list.append(accuracy)

In [19]:
accuracy_list

[0.740472293663783,
 0.8092120645312134,
 0.8887070376432079,
 0.9025017535655834,
 0.9240121580547113,
 0.9436520925882628]

In [20]:
execution_time

[0.7609913989999768,
 0.9274932549997175,
 3.012482170000112,
 2.5312642349999805,
 5.299063123999986,
 8.444407408000188]

In [ ]:
"""Adult dataset"""

"""
0.1    79.6%    11,1s   
0.05    80%     32.3s

"""

In [4]:
data_train, data_test = train_test_split(pd.read_csv(letter_data_path),test_size=0.25)
txns_train = TransactionDB.from_DataFrame(data_train)
txns_test = TransactionDB.from_DataFrame(data_test)
# cba = CBA(support=0.1, confidence=0.5, algorithm="m2")
# cba.fit(txns_train)

# accuracy = cba.rule_model_accuracy(txns_test) 

# accuracy

data_train

,class,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx
4847,Q,4,6,5,7,5,8,5,7,3,6,5,9,3,8,5,9
2698,M,5,10,6,5,3,10,2,1,3,9,3,9,5,4,1,9
14920,H,4,11,5,9,5,7,7,13,1,7,6,8,3,8,0,8
2489,I,1,9,2,6,2,7,7,0,6,7,6,8,0,8,2,8
16845,Q,1,2,2,3,1,8,8,5,1,5,7,9,2,9,4,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2979,P,7,14,7,8,5,8,9,4,4,12,5,4,4,11,6,6
14987,X,3,3,5,2,2,7,8,1,8,10,7,8,2,8,3,7
15803,Q,3,7,4,5,2,8,7,8,6,6,8,9,3,7,5,10
18317,C,2,4,3,3,1,4,9,5,7,11,9,12,1,9,2,7
11532,J,6,9,5,7,3,8,9,2,3,13,4,5,2,9,7,8

In [7]:
letter_data_frame = pd.read_csv(letter_data_path)

letter_data_frame.head(5)

,class,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10

In [8]:
class_col = letter_data_frame.pop('class')

letter_data_frame.insert(len(letter_data_frame.columns), 'class', class_col)

letter_data_frame

,x-box,y-box,width,high,onpix,x-bar,y-bar,x2bar,y2bar,xybar,x2ybr,xy2br,x-ege,xegvy,y-ege,yegvx,class
0,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8,T
1,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10,I
2,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9,D
3,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8,N
4,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10,G
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,2,2,3,3,2,7,7,7,6,6,6,4,2,8,3,7,D
19996,7,10,8,8,4,4,8,6,9,12,9,13,2,9,3,7,C
19997,6,9,6,7,5,6,11,3,7,11,9,5,2,12,2,4,T
19998,2,3,4,2,1,8,7,2,6,10,6,8,1,9,5,8,S
19999,4,9,6,6,2,9,5,3,1,8,1,8,2,7,2,8,A

In [20]:
data_train, data_test = train_test_split(letter_data_frame, shuffle=True, test_size=0.2)
txns_train = TransactionDB.from_DataFrame(data_train)
txns_test = TransactionDB.from_DataFrame(data_test)
cba = CBA(support=0.01, confidence=0.5, algorithm="m1")
cba.fit(txns_train)

accuracy = cba.rule_model_accuracy(txns_test) 

accuracy

0.23325

In [17]:
pen_digits_train_path = "/home/haianh/grad_project/ml-learning/data/pendigits.tra"
pen_digits_test_path = "/home/haianh/grad_project/ml-learning/data/pendigits.tes"

train_data_frame = pd.read_csv(pen_digits_train_path)
test_data_frame = pd.read_csv(pen_digits_test_path)

train_tdb = TransactionDB.from_DataFrame(train_data_frame)
test_tdb = TransactionDB.from_DataFrame(test_data_frame)

cba = CBA(support=0.01)
cba.fit(train_tdb)

In [19]:
accuracy = cba.rule_model_accuracy(test_tdb)

accuracy

0.10380325993708893

In [3]:
# test acc on discretized pendata
pen_train = "/home/haianh/grad_project/ml-learning/data/pen.tra"
pen_test = "/home/haianh/grad_project/ml-learning/data/pen.test"

import pandas as pd

pen_train_data = pd.read_csv(pen_train)
pen_test_data = pd.read_csv(pen_test)

txns_train = TransactionDB.from_DataFrame(pen_train_data)
txns_test = TransactionDB.from_DataFrame(pen_test_data)

In [10]:
cba = CBA(0.005, )
cba.fit(txns_train)

In [11]:
cba.rule_model_accuracy(txns_test)

0.12267657992565056

In [18]:
import pandas as pd
data_path = "/home/haianh/grad_project/ml-learning/data/adult.data"

df = pd.read_csv(data_path, header=0, na_values=[' ?', '?'])

In [23]:
df = df.dropna()

In [31]:
l = df.values.tolist()

In [40]:
nd = []
for li in l:
    tmp = [str(i).strip() for i in li]
    nd.append(tmp)

In [42]:
ndf = pd.DataFrame(nd)

In [44]:
ndfp = "/home/haianh/grad_project/ml-learning/data/adult_new.data"

In [45]:
ndf.to_csv(ndfp)

In [51]:
from sklearn.model_selection import train_test_split
import pandas as pd
from pyarc import TransactionDB,CBA

adult_new_dp = "/home/haianh/grad_project/ml-learning/data/adult_new.data"

adult_data_frame = pd.read_csv(adult_new_dp)

data_train, data_test = train_test_split(adult_data_frame, shuffle=True, test_size=0.2)
txns_train = TransactionDB.from_DataFrame(data_train)
txns_test = TransactionDB.from_DataFrame(data_test)
cba = CBA(support=0.02, confidence=0.8, algorithm="m1")
cba.fit(txns_train)

accuracy = cba.rule_model_accuracy(txns_test) 

accuracy

0.8029172882479695

In [10]:
a = []

def recurse_append(thresh: int, l: list = []):
    if thresh > 5:
        return l
    l.append(1)
    return recurse_append(thresh+1, l)

In [11]:
rs = recurse_append(1, [])

In [13]:
rs

[1, 1, 1, 1, 1]